 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/"><img src="http://www.captainscomicexpo.com/images/expo_logo.png" border="2" style="border:2px solid black;max-width:100%;" alt="CCEXPO2015" />
</a>
                         
                    
                </li>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <li>
                    <a href="/news">News</a>
                </li>
                <li>
                    <a href="/vendors">Vendors/Artists</a>
                </li>
                <li>
                    <a href="/events">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                <li>
                
                  

                <li>
                    <a href= "#" class="btn btn-danger"%>Sign Out</a>
                </li>
            </ul>
        </div>
        <a href="#menu-toggle" class="btn btn-danger" id="menu-toggle" position="float"> Menu</a>



    <!-- jQuery Version 1.11.0 -->
    <script src="assets/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
</head>

<body>


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">EVENTS
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="assets/drink.jpeg" width:"700" height: "300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Drink n Draw</h3>
                <h4>The Bar at Omar Shriner Convention Hall</h4>
                <p>Come kick the expo off with great libations and try your hand at sketching.
                    Open to novices as well as pros!!!!</p>
                <a class="btn btn-danger" href="/events/1">View Event <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="assets/cosplay.jpeg" width:"700" height: "300">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Costume Throwdown</h3>
                <h4>All expo long!!!!!</h4>
                <p>You like dressing up as your favorite comic or sci-fi characther, well let's see it. There will be three rounds of judging with chances to win the most awesome of prizes.....</p>
                <a class="btn btn-danger" href="#">View Event <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="assets/heyrocco.jpg" width:"700" height: "300">
                </a>
            </div>
            <div class="col-md-5">
                <h3>THE PARTY TO END ALL PARTIES</h3>
                <h4>aka The Food and Wine Festival is for sellouts</h4>
                <p>Food Trucks, Local Beer, Comics inspired Cocktails, Live Music with Headliner Hey Rocco</p>
                <a class="btn btn-danger" href="#">View Event <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="assets/runriot.png" width:"700" height: "300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>RUN RIOT INTRO</h3>
                <h4>Local Boys Done Good</h4>
                <p>Hart Jeffers and Tony Mingacci introduce Run Riot Studios to the world and their first release "Soul". Be there so you can say "I saw them when...".</p>
                <a class="btn btn-danger" href="#">View Event <span class="glyphicon glyphicon-thumbs-up"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>


        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Captain's Comic Expo 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="assets/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>

</body>

</html>

   