<br>
<br>
<br>
<br>
<br>
<br>
<div class="jumbotron">
  
  <%= @event.name %>
  <br/>
  <%= @event.time %>
  <br/>
  <%= @event.address %>
  <br/>
  <%= @event.description %>

              <p><a class="btn btn-danger btn-lg" href="/events" role="Event Directory">EVENTS</a></p>
</div>
        