body { 
  background-image: url('captain-america-throwing-his-shield.png');
  background-repeat: repeat;
  background-position: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
