 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/"><img src="http://www.captainscomicexpo.com/images/expo_logo.png" border="2" style="border:2px solid black;max-width:100%;" alt="CCEXPO2015" />
                    </a>
                         
                    
                </li>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <li>
                    <a href="/news">News</a>
                </li>
                <li>
                    <a href="/vendors">Vendors/Artists</a>
                </li>
                <li>
                    <a href="/events">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                <li>
                
                  

                <li>
                    <a href= "#" class="btn btn-danger"%>Sign Out</a>
                </li>
            </ul>
        </div>
        <a href="#menu-toggle" class="btn btn-danger" id="menu-toggle"> Menu</a>



    <!-- jQuery Version 1.11.0 -->
    <script src="assets/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>

    <div id="wrapperHeader">
      <div id="header">
      <img src="assets/news.png" alt="meanwhile..." />
      </div> 
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

     <% @news.each do |news| %>
     <div class="nav-clear"></div>
     <div class="panel panel-default">
        <div class="panel-heading"><div class="news"><%= link_to( news_index_path(@news), :method => :get) do %>
            <%= link_to news.headline, news_path(news) %>
        </div>
        </div>
            <% end %>
            <div class="panel-body">
            <div class="news">
                <%= news.story %>
            </div> 
            </div>
        <% end %>
        

    



    
      