<!DOCTYPE html>
<html lang="en" class="no-js">


    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="keywords" content="100% grid, layout, columns, images, thumbnails, responsive, full width grid, image grid, css, jquery" />
        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href="assets/default.css" />
        <link rel="stylesheet" type="text/css" href="assets/component.css" />
        <script src="assets/modernizr.custom.js"></script>
    </head>




<div id="wrapper" class= "toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/"><img src="http://www.captainscomicexpo.com/images/expo_logo.png" border="2" style="border:2px solid black;max-width:100%;" alt="CCEXPO2015" />
</a>
                         
                    
                </li>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <li>
                    <a href="/news">News</a>
                </li>
                <li>
                    <a href="/vendors">Vendors/Artists</a>
                </li>
                <li>
                    <a href="/events">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                <li>
                
                  

                <li>
                    <a href= "#" class="btn btn-danger"%>Sign Out</a>
                </li>
            </ul>
        </div>
        <a href="#menu-toggle" class="btn btn-danger" id="menu-toggle"> Menu</a>



    <!-- jQuery Version 1.11.0 -->
    <script src="assets/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>

    
      


<body>
        <div class="container" >
            <header class="clearfix">
            </header>
            <center><img class="img-responsive" src="assets/vendob.png"  width= "55%" position="float" alt="meanwhile..." /></center>
            <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>  
            <ul class="cbp-rfgrid">
                <li><a href="/vendors/1"><img src="assets/cap.png" /><div><h3>BOOTH 100</h3></div></a></li>
                <li><a href="#"><img src="assets/3.png" /><div><h3>BOOTH 300</h3></div></a></li>
                <li><a href="#"><img src="assets/9.png" /><div><h3>BOOTH 208</h3></div></a></li>
                <li><a href="#"><img src="assets/bab.png" /><div><h3>BOOTH 420</h3></div></a></li>
                <li><a href="#"><img src="assets/y.jpg" /><div><h3>BOOTH 353</h3></div></a></li>
                <li><a href="#"><img src="assets/fine.jpg" /><div><h3>BOOTH 411</h3></div></a></li>
                <li><a href="#"><img src="assets/act.jpg" /><div><h3>BOOTH 121</h3></div></a></li>
                <li><a href="#"><img src="assets/5.jpg" /><div><h3>BOOTH 242</h3></div></a></li>
                <li><a href="#"><img src="assets/4.png" /><div><h3>BOOTH 616</h3></div></a></li>
                <li><a href="#"><img src="assets/dc.jpg" /><div><h3>BOOTH 132</h3></div></a></li>
                <li><a href="#"><img src="assets/sdd.jpg" /><div><h3>BOOTH 234</h3></div></a></li>
                <li><a href="#"><img src="assets/d.jpg" /><div><h3>BOOTH 254</h3></div></a></li>
                <li><a href="#"><img src="assets/skull.jpg" /><div><h3>BOOTH 656</h3></div></a></li>
                <li><a href="#"><img src="assets/some.jpg" /><div><h3>BOOTH 878</h3></div></a></li>
                <li><a href="#"><img src="assets/7.png" /><div><h3>BOOTH 555</h3></div></a></li>
                <li><a href="#"><img src="assets/val.jpg" /><div><h3>BOOTH 777</h3></div></a></li>
                <li><a href="#"><img src="assets/marvel.jpg" /><div><h3>BOOTH 616</h3></div></a></li>
                <li><a href="#"><img src="assets/drew.jpg" /><div><h3>BOOTH 222</h3></div></a></li>
                <li><a href="#"><img src="assets/dragon.jpg" /><div><h3>BOOTH 522</h3></div></a></li>
                <li><a href="#"><img src="assets/l.jpg" /><div><h3>BOOTH 222</h3></div></a></li>
                <li><a href="#"><img src="assets/stan.jpg" /><div><h3>BOOTH 777</h3></div></a></li>
                <li><a href="#"><img src="assets/max.jpg" /><div><h3>BOOTH 333</h3></div></a></li>
                <li><a href="#"><img src="assets/x.jpg" /><div><h3>BOOTH 788</h3></div></a></li>
                <li><a href="#"><img src="assets/game.jpg" /><div><h3>BOOTH 242</h3></div></a></li>
                <li><a href="#"><img src="assets/goor.jpg" /><div><h3>BOOTH 266</h3></div></a></li>
                <li><a href="#"><img src="assets/hero.jpg" /><div><h3>BOOTH 888</h3></div></a></li>
                <li><a href="#"><img src="assets/sdd.jpg" /><div><h3>BOOTH 433</h3></div></a></li>
                <li><a href="#"><img src="assets/topshelf.jpg" /><div><h3>BOOTH 333</h3></div></a></li>
                <li><a href="#"><img src="assets/val.jpg" /><div><h3>BOOTH 111</h3></div></a></li>
                <li><a href="#"><img src="assets/w.jpg" /><div><h3>BOOTH 666</h3></div></a></li>
            </ul>
        </div>
        <center><img class="img-responsive" src="assets/floor.png"  width= "90%" position="float" alt="meanwhile..." /></center>
   




<div class = "vt">
     <table>
        <thead>
        <th>VENDORS</th>
        </thead>
        <tbody>
            <tr>
            <% @vendors.each do |vendor| %>
            <%= link_to vendor.name, vendor_path(vendor) %>
            <br>
            <%= vendor.booth %>
            <br>
            <%= vendor.category %>
            <br>
            <br>
            </tr>
        </tbody>
            <br>

        <% end %>
     </div>
    </body>
</html>
